@use 'variables'
@use 'mixins'

.main
  width: 100%
  padding: 0 1.875rem
  margin: 0 auto

  &-features
    margin-top: 21.875rem

    @include mixins.desktop
      max-width: 55rem
      margin: 0 auto
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr
      gap: 6rem 1rem

    &-item
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      margin-bottom: 5.375rem
      color: variables.$white

      @include mixins.desktop
        margin: 0

      .sub-title
        margin-top: 2.25rem
        font-size: 1.25rem

      .description
        margin-top: 0.75rem
        line-height: 1.25rem
        max-width: 18.75rem
        opacity: .8

  &-about
    margin: 0 auto
    margin-top: 6.25rem

    @include mixins.desktop
      display: flex
      align-items: center
      max-width: 76.625rem

    img
      width: 100%

      @include mixins.desktop
        flex: 1
    
    .content-wrapper
      @include mixins.desktop
        flex: 1
        padding-left: 3.75rem

      .sub-title
        color: variables.$white
        margin-top: 3rem
        font-size: 1.125rem

        @include mixins.desktop
          font-size: 2rem
          max-width: 18.75rem

      .description
        margin-top: 1rem
        color: variables.$white
        opacity: .8

        @include mixins.desktop
          font-size: 1rem
        
        p
          margin-bottom: 1rem

      .btn-works
        color: variables.$cyan
        display: flex
        align-items: center
        gap: 0.5rem
        width: fit-content
        border-bottom: 1px solid variables.$cyan
        padding-bottom: 0.5rem
        transition: all .3s

        &:hover 
          color: variables.$white
          border-bottom: 1px solid variables.$white

  &-testimonials
    padding: 0 1rem
    margin-top: 7.5rem
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem

    @include mixins.desktop
      max-width: 76.625rem
      padding: 0
      margin: 10.625rem auto 0
      flex-direction: row
      justify-content: space-evenly


    li
      position: relative

    li:first-of-type::before
      content: ''
      position: absolute
      z-index: 10
      top: 0
      width: 1.5rem
      height: 1.5rem
      transform: translate(0.625rem, -1.3rem)
      background: url('../images/bg-quotes.png') no-repeat
      background-size: contain

      @include mixins.desktop
        width: 3.5rem
        height: 2.8125rem  
        transform: translate(-0.625rem, -2.5rem)

    .card
      position: relative
      max-width: 22.5rem
      z-index: 20
      color: variables.$white
      border-radius: 0.5rem
      padding: 2.75rem 2rem 2rem
      background-color: variables.$bg-testimonial

      .description
        opacity: .8
        line-height: 1.5rem
        font-size: 0.75rem


      figure
        margin-top: 1rem
        display: flex
        align-items: center
        gap:0.5rem

        .avatar
          width: 1.875rem
          height: 1.875rem
          border: 2px solid variables.$bg-footer
          border-radius: 50%

        figcaption
          display: flex
          flex-direction: column
          align-items: flex-start

          .office
            opacity: .8
            margin-top: 0.25rem

  &-signup
    margin-top: -15%
    padding: 2.5rem 1.875rem
    background-color: variables.$email-sign
    color: variables.$white
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 0.5rem
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2)
    transform: translateY(50%)

    @include mixins.desktop
      margin: 0 auto
      margin-top: 6.25rem
      max-width: 54rem
      padding: 3.125rem 4.6875rem 
      transform: translateY(6.875rem)

    .sub-title
      font-size: 1.125rem

      @include mixins.desktop
        font-size: 1.75rem

    .description
      margin-top: 1rem
      text-align: center
      opacity: .8
      line-height: 1.5rem
      font-size: 0.75rem

      @include mixins.desktop
        padding: 0 2.875rem
        font-size: 0.875rem

    .form
      width: 100%
    
      @include mixins.desktop
        display: flex
        align-items: center
        margin-top: 2.375rem
        gap: 2rem

      #email
        width: 100%
        height: 3rem
        border: none
        border-radius: 1.5rem
        margin-top: 1.5rem
        padding: 0 2rem

        @include mixins.desktop
          margin-top: 0

      button
        width: 100%
        height: 3rem
        border: none
        border-radius: 1.5rem
        margin-top: 1rem
        color: variables.$white
        background-color: variables.$blue
        cursor: pointer
        transition: background-color .3s

        &:hover
          background-color: variables.$cyan

        @include mixins.desktop
          margin-top: 0
          width: 17.5rem