*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #181F2B;
  font-size: 14px;
  min-height: 100vh;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  background: url("../images/bg-curvy-mobile.svg") no-repeat #1c2431;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 6.25rem;
}
@media (min-width: 50rem) {
  .header {
    background: url("../images/bg-curvy-desktop.svg") no-repeat #1c2431;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 10.625rem;
  }
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
}
@media (min-width: 50rem) {
  .header-navbar {
    padding: 4.75rem;
  }
}
.header-navbar-brand img {
  width: 5.125rem;
}
@media (min-width: 50rem) {
  .header-navbar-brand img {
    width: 11rem;
  }
}
.header-navbar-menu-options {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
}
@media (min-width: 50rem) {
  .header-navbar-menu-options {
    font-size: 1.25rem;
    gap: 2rem;
  }
}
.header-navbar-menu-options li a {
  opacity: 0.8;
  transition: all 0.3s;
}
.header-navbar-menu-options li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.header-banner {
  position: relative;
  width: 78%;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
}
@media (min-width: 50rem) {
  .header-banner {
    max-width: 45.25rem;
  }
}
.header-banner img {
  margin-top: 2rem;
  width: 100%;
}
.header-banner-content {
  position: absolute;
  margin-top: 2.875rem;
}
@media (min-width: 50rem) {
  .header-banner-content {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header-banner-content-title {
  font-size: 1.5rem;
}
@media (min-width: 50rem) {
  .header-banner-content-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-top: 3rem;
  }
}
.header-banner-content-description {
  margin-top: 1.5rem;
  line-height: 1.25rem;
  opacity: 0.8;
}
@media (min-width: 50rem) {
  .header-banner-content-description {
    margin: 0;
    margin-top: 2.875rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 36.25rem;
  }
}
.header-banner-content button {
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  background-color: #339ecc;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
@media (min-width: 50rem) {
  .header-banner-content button {
    width: 17.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }
}
.header-banner-content button:hover {
  background-color: #65e2d9;
}

.main {
  width: 100%;
  padding: 0 1.875rem;
  margin: 0 auto;
}
.main-features {
  margin-top: 21.875rem;
}
@media (min-width: 50rem) {
  .main-features {
    max-width: 55rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6rem 1rem;
  }
}
.main-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5.375rem;
  color: white;
}
@media (min-width: 50rem) {
  .main-features-item {
    margin: 0;
  }
}
.main-features-item .sub-title {
  margin-top: 2.25rem;
  font-size: 1.25rem;
}
.main-features-item .description {
  margin-top: 0.75rem;
  line-height: 1.25rem;
  max-width: 18.75rem;
  opacity: 0.8;
}
.main-about {
  margin: 0 auto;
  margin-top: 6.25rem;
}
@media (min-width: 50rem) {
  .main-about {
    display: flex;
    align-items: center;
    max-width: 76.625rem;
  }
}
.main-about img {
  width: 100%;
}
@media (min-width: 50rem) {
  .main-about img {
    flex: 1;
  }
}
@media (min-width: 50rem) {
  .main-about .content-wrapper {
    flex: 1;
    padding-left: 3.75rem;
  }
}
.main-about .content-wrapper .sub-title {
  color: white;
  margin-top: 3rem;
  font-size: 1.125rem;
}
@media (min-width: 50rem) {
  .main-about .content-wrapper .sub-title {
    font-size: 2rem;
    max-width: 18.75rem;
  }
}
.main-about .content-wrapper .description {
  margin-top: 1rem;
  color: white;
  opacity: 0.8;
}
@media (min-width: 50rem) {
  .main-about .content-wrapper .description {
    font-size: 1rem;
  }
}
.main-about .content-wrapper .description p {
  margin-bottom: 1rem;
}
.main-about .content-wrapper .btn-works {
  color: #65e2d9;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 0.5rem;
  transition: all 0.3s;
}
.main-about .content-wrapper .btn-works:hover {
  color: white;
  border-bottom: 1px solid white;
}
.main-testimonials {
  padding: 0 1rem;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 50rem) {
  .main-testimonials {
    max-width: 76.625rem;
    padding: 0;
    margin: 10.625rem auto 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.main-testimonials li {
  position: relative;
}
.main-testimonials li:first-of-type::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(0.625rem, -1.3rem);
  background: url("../images/bg-quotes.png") no-repeat;
  background-size: contain;
}
@media (min-width: 50rem) {
  .main-testimonials li:first-of-type::before {
    width: 3.5rem;
    height: 2.8125;
    transform: translate(-0.625rem, -2.5rem);
  }
}
.main-testimonials .card {
  position: relative;
  max-width: 22.5rem;
  z-index: 20;
  color: white;
  border-radius: 0.5rem;
  padding: 2.75rem 2rem 2rem;
  background-color: #202a3c;
}
.main-testimonials .card .description {
  opacity: 0.8;
  line-height: 1.5rem;
  font-size: 0.75rem;
}
.main-testimonials .card figure {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-testimonials .card figure .avatar {
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid #0b1523;
  border-radius: 50%;
}
.main-testimonials .card figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-testimonials .card figure figcaption .office {
  opacity: 0.8;
  margin-top: 0.25rem;
}
.main-signup {
  margin-top: -15%;
  padding: 2.5rem 1.875rem;
  background-color: #1c2431;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(50%);
}
.main-signup .sub-title {
  font-size: 1.125rem;
}
.main-signup .description {
  margin-top: 1rem;
  text-align: center;
  opacity: 0.8;
  line-height: 1.5rem;
  font-size: 0.75rem;
}
.main-signup #email {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  padding: 0 2rem;
}
.main-signup button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1rem;
  color: white;
  background-color: #339ecc;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main-signup button:hover {
  background-color: #65e2d9;
}

.footer {
  background-color: #0b1523;
  padding: 0 1.875rem 3.75rem;
}
.footer .logo {
  margin-top: 15rem;
  margin-left: 0.625rem;
  width: 8.75rem;
}
.footer-place {
  margin-top: 1.875rem;
}
.footer-place .item {
  display: flex;
  gap: 1.5rem;
  color: white;
  margin-bottom: 1.25rem;
  max-width: 16.25rem;
}
.footer-place .item img {
  height: 1.25rem;
}
.footer-place .item img.image-sm {
  height: 1rem;
}
.footer-navegation {
  margin-top: 4rem;
}
.footer-navegation .menu li {
  margin: 1rem 0;
}
.footer-navegation .menu li:nth-of-type(5) {
  margin-top: 2.5rem;
}
.footer-social {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-social li {
  border: 1px solid white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  transition: all 0.3s;
}
.footer-social li a {
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer-social li:hover {
  border: 1px solid #65e2d9;
}
.footer-social li:hover a {
  color: #65e2d9;
}

/*# sourceMappingURL=style.css.map */
